.crew__block-right {
    margin: 61px 0 0 0;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-direction: column;
}


@media screen and (max-width: 1279px) {
    .crew__block-right {
        margin: 39px 122px 0 auto;
    }
}

@media screen and (max-width: 767px) {
    .crew__block-right {
        margin: 39px auto 0 auto;
        width: 327px;
        border-bottom: 1px solid  #383B4B;
    }
}




