.crew {
    max-width: 1440px;
    margin: 0 auto;
}

.crew__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 127px;
}

.crew__block-left {
    padding: 72px 0 0 162px;
}

.crew__title {
    font-family: 'Barlow Condensed', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 auto;
}

.crew__title_weight {
    font-family: 'Barlow Condensed', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;
    padding-right: 28px;
}

.crew__role {
    font-family: 'Bellefair', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin: 152px 0 0;
}

.crew__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    text-transform: uppercase;
    font-family: 'Bellefair', Arial, sans-serif;
    color: #FFFFFF;
    margin: 20px 0 0;
}

.crew__text-bio {
    font-family: 'Barlow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
    max-width: 444px;
    margin: 25px 0 0;
}

.crew__list {
    list-style: none;
    display: flex;
    margin: 117px 0 50px 0;
    padding: 0;
}

.crew__item {
padding-right: 24px;
}

.crew__button {
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.17;
    border-radius: 15px;
    border: none;
}

.crew__button_active {
    opacity: 1;
}

.crew__button:hover {
    opacity: 0.5;
}
.crew__block-right {
    margin: 61px 0 0 0;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-direction: column;
}
