.crew__role {
    font-family: 'Bellefair', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin: 152px 0 0;
}

@media screen and (max-width: 1279px) {
    .crew__role {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        margin: 0 auto;
    }
}


