@media screen and (max-width: 1279px) {
    .crew__image {
        width: 456.37px;
        height: 572px;
    }
}

@media screen and (max-width: 767px) {
    .crew__image {
        width: 177.12px;
        height: 222px;
        margin: 29px 68px 0 auto;
    }
}