.crew__title_weight {
    font-weight: 700;
    mix-blend-mode: normal;
    opacity: 0.25;
    padding-right: 28px;
    text-transform:none;
}

@media screen and (max-width: 1279px) {
    .crew__title_weight {
        padding-right: 16px;
    }
}