.home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-end;
    padding: 0 165px 131px 165px;
    max-width: 1440px;
    margin: 0 auto;
}

.home__container {
    padding-top: calc(50% - 34px / 2 - 13px);
    max-width: 450px;
}


.home__text {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    color: #D0D6F9;
    font-family: 'Barlow Condensed', Arial, sans-serif;
}

.home__title {
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 172px;
    color: #FFFFFF;
    font-family: 'Bellefair', Arial, sans-serif;
    margin: 24px 0;
}

.home__desc {
    font-family: 'Barlow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    color: #D0D6F9;
}

.home__link {
    justify-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-decoration: none;
}

.home__button {
    font-family: 'Bellefair', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 2px;
    color: #0B0D17;
    height: 274px;
    width: 274px;
    border-radius: 50%;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
}

.home__button:hover {
    -webkit-box-shadow: 0 0 2px 88px rgba(208, 214, 249, 0.3);
    box-shadow: 0 0 2px 88px rgba(208, 214, 249, 0.3);
}

@media screen and (max-width: 1279px) {
    .home {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
    }

    .home__container {
        padding-top: 106px;
    }

    .home__text {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 3.375px;
    }

    .home__title {
        line-height: 150px;
        text-align: center;
    }
    .home__desc {
        font-size: 16px;
        line-height: 28px;
        text-align: center;
    }

    .home__button {
        margin: 140px auto 50px;
        width: 242px;
        height: 242px;

    }

    .header__line {
        border-bottom: none;
    }
}

@media screen and (max-width: 767px) {

    .home {
        padding: 0;
    }
    .home__container {
        padding-top: 40px;
        max-width: 327px;
    }

    .home__text {
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 2.7px;
    }

    .home__title {
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 100px;
        margin: 13px 0 18px;
    }
    .home__desc {
        font-size: 15px;
        line-height: 25px;
        min-width: 327px;
    }

    .home__button {
        margin: 68px auto 0;
        width: 150px;
        height: 150px;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 1.25px;

    }

    .home__button:hover {
        -webkit-box-shadow: 0 0 2px 44px rgba(208, 214, 249, 0.3);
        box-shadow: 0 0 2px 44px rgba(208, 214, 249, 0.3);
    }
}

