.destination__item {
    padding: 10px 0 0 0;
}

@media screen and (max-width: 1279px) {
    .destination__item {
        margin: 48px 0 0 0;
        padding: 0;
    }
}


@media screen and (max-width: 767px) {
    .destination__item {
        margin: 24px 0 0 0;
    }
}

