.crew__list {
    list-style: none;
    display: flex;
    margin: 117px 0 50px 0;
    padding: 0;
}


@media screen and (max-width: 1279px) {
    .crew__list {
        align-items: center;
        justify-content: center;
        margin: 35px auto 0 18px;
    }
}

@media screen and (max-width: 767px) {
    .crew__list {
        position: absolute;
        top: 367px;
        left: 49%;
        transform: translate(-50%, -50%);
    }
}

