.header {
    position: relative;
    z-index: 5;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.header__container {
    padding: 64px 0 0 55px;
}

.header__menu {
    padding: 40px 0 0 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header__logo {
    width: 48px;
    height: 48px;
}

.header__line {
    width: 100%;
    max-width: 900px;
    border-bottom: 1px solid #FFFFFF;
    transform: translateX(10%);
    z-index: 9999;
    margin: 0 -40px 50px 18px;
}

.header__list {
    display: flex;
    list-style-type: none;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    max-width: 830px;
    justify-content: center;
    padding: 39px 172px 0 78px;
    margin: 0 auto;
}

.header__item {
    display: flex;
    margin-left: 50px;

}

.header__item_active {
    padding-bottom: 38px;
    border-bottom: 3px solid #FFFFFF;
}

.header__link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;

}

.header__link:hover {
    color: #D0D6F9;
}

.header__link_weight {
    font-weight: 700;
    padding-right: 12px;
    cursor: default;
}

.header__link_weight:hover {
    color: #FFFFFF;
}

.header__menu_mobile {
    display: none;
}

@media screen and (max-width: 1279px) {
    .header {
        max-width: 768px;
    }

    .header__container {
        padding: 25px 0 0 40px;
    }

    .header__menu {
        padding: 0 0 0 38px;
    }

    .header__list {
        padding: 40px 48px 0;
    }

    .header__item {
        margin-left: 0;
        margin-right: 36px;
    }

    .header__item:last-child {
        margin-right: 0;
    }

    .header__link {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 2.3625px;
    }

    .header__link_weight {
        display: none;
    }

    .header__line {
        border-bottom: none;
    }
}

@media screen and (max-width: 767px) {

    .header {
        max-width: 100%;
        padding: 24px 10px 0 25px ;
    }

    .header__container {
        padding: 0;
    }

    .header__logo {
        width: 40px;
        height: 40px;
    }

    .header__menu {
        display: none;
        position: absolute;
        height: 100vh;
        top: 0;
        right: 0;
        z-index: -1;
    }

    .header__list {
        display: flex;
        flex-direction: column;
        min-width: 253px;
        width: 100%;
        margin: 0;
        padding: 0;
        min-height: 100%;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .header__item {
        margin: 0 0 32px 32px;
    }

    .header__item:first-child {
        margin: 118px 0 32px 32px;
    }


    .header__link {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;
    }

    .header__link_weight {
        display: block;
    }

    .header__menu_mobile {
        display: block;
    }

    .header__button {
        border: none;
        background: none;
        color: white;
        z-index: 10;
    }

    .header__fiMenu {
        margin: 2px 0 0 0;
        width: 40px;
        height: 34px;
    }

    .header__open {
        display: block;
    }

    .header__item_active {
        padding-bottom: 0;
        border-bottom: none;
    }
}