.header {
    position: relative;
    z-index: 5;
}

.header__menu {
    padding: 40px 0 0 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header__logo {
    width: 48px;
    height: 48px;
}

.header__line {
    width: 100%;
    max-width: 900px;
    border-bottom: 1px solid #FFFFFF;
    transform: translateX(10%);
    z-index: 9999;
}

.header__list {
    display: flex;
    list-style-type: none;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    max-width: 830px;
    justify-content: center;
    padding: 39px 175px 0 78px;
    margin: 0 auto;
}

.header__item {
    display: flex;
    margin-left: 50px;

}

.header__item_active {
    padding-bottom: 38px;
    border-bottom: 3px solid #FFFFFF;
}

.header__link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    cursor: pointer;
    text-decoration: none;
    color: white;

}

.header__link:hover {
    color: #D0D6F9;
}

.header__link_weight {
    font-weight: 700;
    padding-right: 12px;
    cursor: default;
}

.header__link_weight:hover {
    color: #FFFFFF;
}