body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*!*normalize*!*/
/*@import url(./vendor/normalize.css);*/

/*.page {*/
/*    background-color: #0B0D17;*/
/*    color: #FFF;*/
/*    font-family: 'Barlow Condensed', Arial, sans-serif;*/

/*}*/

/*.page__container {*/
/*    max-width: 100%;*/
/*    min-height: 100vh;*/
/*    min-width: 320px;*/
/*    margin: 0 auto;*/
/*    background-size: cover;*/
/*    background-position: bottom center;*/
/*    background-image: url(./images/home/background-home-desktop.jpg);*/
/*}*/

/*@media (max-width: 1278px) {*/
/*    .page__container {*/
/*        background-position: center center;*/
/*        background-image: url(./images/home/background-home-tablet.jpg);*/
/*    }*/
/*}*/

/*@media (max-width: 320px) {*/
/*    .page__container {*/
/*        background-position: center center;*/
/*        background-image: url(./images/home/background-home-tablet.jpg);*/
/*    }*/
/*}*/

/*.header {*/
/*    position: relative;*/
/*    z-index: 5;*/
/*}*/

/*.header__menu {*/
/*    padding: 40px 0 0 55px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    flex-direction: row;*/
/*}*/

/*.header__logo {*/
/*    width: 48px;*/
/*    height: 48px;*/
/*}*/

/*.header__line {*/
/*    width: 100%;*/
/*    max-width: 900px;*/
/*    border-bottom: 1px solid #FFFFFF;*/
/*    transform: translateX(10%);*/
/*    z-index: 9999;*/
/*}*/

/*.header__list {*/
/*    display: flex;*/
/*    list-style-type: none;*/
/*    background: rgba(255, 255, 255, 0.04);*/
/*    backdrop-filter: blur(40.7742px);*/
/*    max-width: 830px;*/
/*    justify-content: center;*/
/*    padding: 39px 175px 0 78px;*/
/*    margin: 0 auto;*/
/*}*/

/*.header__item {*/
/*    display: flex;*/
/*    margin-left: 50px;*/

/*}*/

/*.header__item_active {*/
/*    padding-bottom: 38px;*/
/*    border-bottom: 3px solid #FFFFFF;*/
/*}*/

/*.header__link {*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    font-size: 16px;*/
/*    line-height: 19px;*/
/*    letter-spacing: 2.7px;*/
/*    cursor: pointer;*/

/*}*/

/*.header__link:hover {*/
/*    color: #D0D6F9;*/
/*}*/

/*.header__link_weight {*/
/*    font-weight: 700;*/
/*    padding-right: 12px;*/
/*    cursor: default;*/
/*}*/

/*.header__link_weight:hover {*/
/*    color: #FFFFFF;*/
/*}*/

/*.home {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(2, 1fr);*/
/*    align-items: flex-end;*/
/*    padding: 0 165px 131px 165px;*/
/*}*/

/*@media (max-width: 1278px) {*/
/*    .home {*/
/*        grid-template-columns: repeat(1, 1fr);*/
/*        grid-template-rows: repeat(2, 1fr);*/
/*        justify-items: center;*/
/*        align-items: start;*/
/*    }*/
/*}*/


/*.home__container {*/
/*    padding-top: calc(50% - 34px / 2 - 13px);*/
/*    max-width: 450px;*/
/*}*/

/*@media (max-width: 1278px) {*/
/*    .home__container {*/
/*        padding-top: 106px;*/
/*    }*/
/*}*/

/*.home__text {*/
/*    margin: 0;*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    font-size: 28px;*/
/*    line-height: 34px;*/
/*    letter-spacing: 4.725px;*/
/*    color: #D0D6F9;*/
/*    font-family: 'Barlow Condensed', Arial, sans-serif;*/
/*}*/

/*.home__title {*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    font-size: 150px;*/
/*    line-height: 172px;*/
/*    color: #FFFFFF;*/
/*    font-family: 'Bellefair', Arial, sans-serif;*/
/*    margin: 20px 0;*/
/*}*/

/*.home__desc {*/
/*    font-family: 'Barlow', Arial, sans-serif;*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    font-size: 18px;*/
/*    line-height: 32px;*/
/*    !* or 178% *!*/


/*    color: #D0D6F9;*/
/*}*/

/*.home__link {*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    font-size: 32px;*/
/*    line-height: 37px;*/
/*    letter-spacing: 2px;*/
/*    justify-self: end;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 274px;*/
/*    height: 274px;*/
/*    border-radius: 9999px;*/
/*    background-color: #FFFFFF;*/
/*    color: #0B0D17;*/
/*    text-decoration: none;*/
/*    font-family: 'Bellefair', Arial, sans-serif;;*/
/*}*/

/*.home__link:hover::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 450px;*/
/*    height: 450px;*/
/*    background: #FFFFFF;*/
/*    mix-blend-mode: normal;*/
/*    opacity: 0.1;*/
/*    border-radius: 9999px;*/
/*    z-index: -9999;*/
/*    animation: pulse 2.5s infinite;*/
/*}*/

/*@media (max-width: 1278px) {*/
/*    .home__link {*/
/*        justify-self: center;*/
/*        margin: 156px auto 0;*/
/*    }*/
/*}*/
