.technology {
    max-width: 1440px;
    margin: 0 auto;
}

.technology__container {
    display: grid;
    grid-template-rows: 1fr;
    gap: 0 50px;
    grid-template-columns: 1fr 515px;
}

.technology__block-left {
    padding: 72px 0 0 162px;
}

.technology__title {
    font-family: 'Barlow Condensed', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 auto;
}

.technology__title_weight {
    font-family: 'Barlow Condensed', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;
    padding-right: 28px;
}

.technology__block {
    display: flex;
    margin: 137px 0 0 0;

}

.technology__list {
    margin: 0 80px 0 0;
    padding: 0;
}

.technology__item {
    list-style: none;

}

.technology__button {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    padding: 0;
    margin: 0 0 32px 0;
    font-family: 'Bellefair', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 2px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background: #0B0D17;
}

.technology__button:hover {
    mix-blend-mode: normal;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: #0B0D17;
}

.technology__button_active {
    color: #0B0D17;
    background: #FFFFFF;
}

.technology__button_active:hover {
    color: #0B0D17;
    background: #FFFFFF;
}

.technology__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.technology__content-text {
    font-family: 'Barlow Condensed', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #D0D6F9;
    padding: 0;
    margin: 0;
}

.technology__content-title {
    font-family: 'Bellefair', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    color: #FFFFFF;
    margin: 11px 0 17px;
    text-transform: uppercase;

}

.technology__description {
    font-family: 'Barlow', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
    max-width: 444px;
    margin: 0;
}

.technology__block-right {
    margin: 136px 0 0 auto;
}

.technology__images {
    width: 515px;
    height: 527px;
}