.technology__block-right {
    margin: 136px 0 0 auto;
}



@media screen and (max-width: 1279px) {
    .technology__block-right {
        margin: 124px auto 0;
    }
}


@media screen and (max-width: 767px) {
    .technology__block-right {
        margin: 66px auto 0;
    }
}
